**Basic representtion**

- string elements is in quotes
- list elements is in square brackets

In [3]:
list1=[1,2,3,4,5]
list1

[1, 2, 3, 4, 5]

In [4]:
type(list1)

list

In [5]:
list2=['A','B','C']
list2

['A', 'B', 'C']

In [6]:
list2=['A','B','C',1,2]
list2

['A', 'B', 'C', 1, 2]

In [8]:
list1=[1,2,'y']
list1

[1, 2, 'y']

In [9]:
list2=['a','b','c']
list2

['a', 'b', 'c']

In [10]:
list2=['a','b','c',1,2,3]
list2

['a', 'b', 'c', 1, 2, 3]

In [12]:
list4=[10,20,30,'apple','banana','cherry']
list4

[10, 20, 30, 'apple', 'banana', 'cherry']

In [13]:
list5=[10,10,10]
list5

[10, 10, 10]

In [16]:
list6=[10,20,30,['apple']]
list6

[10, 20, 30, ['apple']]

In [19]:
name='python'
list5=[name]
list5

['python']

In [18]:
name='python'
list5=[name]
list6=[_]
list6

[['python']]

In [ ]:
list1=[10,20,2,5,75]
list2=['apple','APPLE','CHERRY','cherry']
list3=[10,20,2,5,75,'apple','APPLE','CHERRY','cherry']

In [20]:
list1=[10,20,2,5,75]
len(list1)

5

In [21]:
list2=['apple','APPLE','CHERRY','cherry']
len(list2)

4

In [22]:
list3=[10,20,2,5,75,'apple','APPLE','CHERRY','cherry']
len(list3)

9

In [23]:
list1=[10,20,2,5,75]
max(list1)

75

In [24]:
list2=['apple','APPLE','CHERRY','cherry']
max(list2)

'cherry'

In [26]:
list3=[10,20,2,5,75,'apple','APPLE','CHERRY','cherry']
max(list3)

TypeError: '>' not supported between instances of 'str' and 'int'

In [27]:
list3=[10,20,2,5,75,'apple','APPLE','CHERRY','cherry']
min(list3)

TypeError: '<' not supported between instances of 'str' and 'int'

In [28]:
list2=['apple','APPLE','CHERRY','cherry']
min(list2)

'APPLE'

In [29]:
list1=[10,20,2,5,75]
min(list1)

2

In [30]:
list1=[10,20,2,5,75]
sum(list1)

112

In [31]:
list2=['apple','APPLE','CHERRY','cherry']
sum(list2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [32]:
list3=[10,20,2,5,75,'apple','APPLE','CHERRY','cherry']
sum(list3)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [33]:
list3=[10,20,2,5,75,'apple','APPLE','CHERRY','cherry']
type(list3)

list

In [35]:
list2=['apple','APPLE','CHERRY','cherry']
type(list2)

list

In [36]:
list1=[10,20,2,5,75]
type(list1)

list

In [37]:
list1=[10,20,2,5,75]
print(list1)

[10, 20, 2, 5, 75]

In [38]:
list2=['apple','APPLE','CHERRY','cherry']
print(list2)

['apple', 'APPLE', 'CHERRY', 'cherry']

In [39]:
list3=[10,20,2,5,75,'apple','APPLE','CHERRY','cherry']
print(list3)

[10, 20, 2, 5, 75, 'apple', 'APPLE', 'CHERRY', 'cherry']

In [40]:
list1=[10,20,2,5,75]  #less than to greater than
sorted(list1)

[2, 5, 10, 20, 75]

In [41]:
list2=['apple','APPLE','CHERRY','cherry']
sorted(list2)

['APPLE', 'CHERRY', 'apple', 'cherry']

In [42]:
list3=[10,20,2,5,75,'apple','APPLE','CHERRY','cherry']
sorted(list3)

TypeError: '<' not supported between instances of 'str' and 'int'

In [52]:
list1=[10,20,2,5,75]
list(reversed(list1))

[75, 5, 2, 20, 10]

In [49]:
list1=[10,20,2,5,75]
num=reversed(list1)
for i in num:
    print(i)

75
5
2
20
10

In [50]:
list2=['apple','APPLE','CHERRY','cherry']
num=reversed(list2)
for i in num:
    print(i)

cherry
CHERRY
APPLE
apple

In [51]:
list3=[10,20,2,5,75,'apple','APPLE','CHERRY','cherry']
num=reversed(list3)
for i in num:
    print(i)

cherry
CHERRY
APPLE
apple
75
5
2
20
10

In [ ]:
#in the interview 
#list1=[10,20,2,5,75]
# sort the list without sorted function
#sum the list without sum function
#max the list without max function
#min the list without min function
#reverse the list without reverse function

**concatenation**

In [53]:
list1=[10,20,2,5,75]
list2=['apple','APPLE','CHERRY','cherry']
list1+list2

[10, 20, 2, 5, 75, 'apple', 'APPLE', 'CHERRY', 'cherry']

In [54]:
list1=[10,20,2,5,75]
list2=['apple','APPLE','CHERRY','cherry']
list1-list2

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [55]:
list1=[10,20,2,5,75]
list2=['apple','APPLE','CHERRY','cherry']
list1*list2

TypeError: can't multiply sequence by non-int of type 'list'

In [56]:
list1=[10,20,2,5,75]
list2=['apple','APPLE','CHERRY','cherry']
list1/list2

TypeError: unsupported operand type(s) for /: 'list' and 'list'

In [57]:
list1=[10,20,2,5,75]
list2=['apple','APPLE','CHERRY','cherry']
list1*2

[10, 20, 2, 5, 75, 10, 20, 2, 5, 75]

In [58]:
list1=[10,20,2,5,75]
list2=['apple','APPLE','CHERRY','cherry']
list1-2

TypeError: unsupported operand type(s) for -: 'list' and 'int'

**index**

In [62]:
#-6 -5 -4 -3 -2 -1
#10 20 30  a  b  c
# 0  1  2  3  4  5
list1=[10,20,30,'a','b','c']
list1[0],list1[-6]

(10, 10)

In [63]:
list1=[10,20,30,'a','b','c']
for i in range(0,6):
    print(f' the posive index of {list1[i]} is {i}')

 the posive index of 10 is 0
 the posive index of 20 is 1
 the posive index of 30 is 2
 the posive index of a is 3
 the posive index of b is 4
 the posive index of c is 5

In [65]:
list1=[10,20,30,'a','b','c']
for i in range(0,6):
    print(f' the negative index of {list1[i]} is {i-6}')

 the negative index of 10 is -6
 the negative index of 20 is -5
 the negative index of 30 is -4
 the negative index of a is -3
 the negative index of b is -2
 the negative index of c is -1

In [66]:
list1=[10,20,30,'a','b','c']
for i in range(0,6):
    print(f' the posive index of {list1[i]} is {i}')
    print(f' the negative index of {list1[i]} is {i-6}')

 the posive index of 10 is 0
 the negative index of 10 is -6
 the posive index of 20 is 1
 the negative index of 20 is -5
 the posive index of 30 is 2
 the negative index of 30 is -4
 the posive index of a is 3
 the negative index of a is -3
 the posive index of b is 4
 the negative index of b is -2
 the posive index of c is 5
 the negative index of c is -1

In [67]:
list1=[10]
list1[0]
#how many elements are there :1

10

In [68]:
list1=[[10]]
list1[0]
#how many elements are there :1

[10]

In [69]:
list1=[[10]]  #[10]
list1[0][0]

10

In [3]:
list2=[10,[20]]
list2[1]

[20]

In [5]:
list2=[10,[20]]
list2[1][0]

20

In [9]:
list1=[10,20,30,'a',['Banana','Cherry']]
list1[4][1]

'Cherry'

In [13]:
list1=['a',['Apple','B',['Banana'],'C',['cherry']]]
list1[1][4][0]

'cherry'

In [25]:
list1=['a',['Apple','B',['Banana','C',['cherry','D',['Drggon fruit']]]]]
list1[1][2][2][2][0]

'Drggon fruit'

In [26]:
list2=['Apple',['Kashmir',['India',['cricket',['Bat']]]]]
list2[1][1][1][1][0]

'Bat'

In [28]:
list2=[[[[[[[[['Apple']]]]]]]]]
list2[0][0][0][0][0][0][0][0][0]

'Apple'

In [2]:
# Q3) input=['hyd','bengaluru','pune','mumbai']
#     output=['Hyd','Bengaluru','Pune','Mumbai']

input=['hyd','bengaluru','pune','mumbai']
output=[]
for i in input:
    output.append(i.capitalize())
output

['Hyd', 'Bengaluru', 'Pune', 'Mumbai']

In [3]:
# Q4) input=['hyd','bengaluru','pune','mumbai']
#     output=['HYD','BENGALURU','PUNE','MUMBAI']

input=['hyd','bengaluru','pune','mumbai']
output=[]
for i in input:
    output.append(i.upper())
output

['HYD', 'BENGALURU', 'PUNE', 'MUMBAI']

In [1]:
# Q5) input=['hyd','ben#galuru','pune','mu#mbai']
#     output=[ben#galuru',mu#mbai']

input=['hyd','ben#galuru','pune','mu#mbai']
output=[]
for i in input:
    if '#' in i:
        output.append(i)
output

['ben#galuru', 'mu#mbai']

In [7]:
# Q8) input='virat.kohli@rcb.com;rohit.sharma@mi.com;ms.dhoni@csk.com'
#     fname=['virat','rohit'.'ms']
#     sname=['kohli','sharma','dhoni']
#     cname=['rcb','mi','csk']

input='virat.kohli@rcb.com;rohit.sharma@mi.com;ms.dhoni@csk.com'
l=input.split(';')
fname=[]
sname=[]
cname=[]
for i in l:
    print(i)
    id1=i.find('.')
    id2=i.find('@')
    id3=i.find('.',id1+1)
    fname.append(i[:id1])
    sname.append(i[id1+1:id2])
    cname.append(i[id2+1:id3])
fname,sname,cname

virat.kohli@rcb.com
rohit.sharma@mi.com
ms.dhoni@csk.com

(['virat', 'rohit', 'ms'], ['kohli', 'sharma', 'dhoni'], ['rcb', 'mi', 'csk'])

In [10]:

# Q9) input='can canner can you can not canner with you but you can the canner'
#     output=['can'-4,'canner'-3,'you'-3,'not'-1,'with'-1,'but'-1,'the'-1]

input='can canner can you can not canner with you but you can the canner'
l=input.split()
l1=[]
counter=[]
for i in l:
    if i not in l1:
        counter.append(f'{i}:{l.count(i)}')
        l1.append(i)
counter

['can:4', 'canner:3', 'you:3', 'not:1', 'with:1', 'but:1', 'the:1']

In [11]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

**extend**

In [3]:
l1=[1,2,3,4,5]
l2=['a','b','c','d']
l1.extend(l2)
l1

[1, 2, 3, 4, 5, 'a', 'b', 'c', 'd']

In [4]:
l1=[1,2,3,4,5]
l2=['a','b','c','d']
l2.extend(l1)
l2

['a', 'b', 'c', 'd', 1, 2, 3, 4, 5]

In [5]:
l1=[1,2,3,4,5]
l2=['a','b','c','d']
print(l1+l2)
print(l1)
print(l2)
print('l1 will be overwrite if we use extend')
l1.extend(l2)
print(l1)

[1, 2, 3, 4, 5, 'a', 'b', 'c', 'd']
[1, 2, 3, 4, 5]
['a', 'b', 'c', 'd']
l1 will be overwrite if we use extend
[1, 2, 3, 4, 5, 'a', 'b', 'c', 'd']

**index**

- strings we have index and find
- but list have only index
- same as strings concept

In [10]:
l1=[10,20,30,40,50,'APPLE','BANANA','CHERRY',40,50]
i1=l1.index(40)
print(l1.index(40,i1+1))

8

**insert**

In [18]:
l1=[10,20,30,40,50,'APPLE','BANANA','CHERRY',40,50]
#i want insert 100 after index
i1=l1.index('APPLE')
l1.insert(i1+1,100)
l1

[10, 20, 30, 40, 50, 'APPLE', 100, 'BANANA', 'CHERRY', 40, 50]

In [19]:
l1=[10,20,30,40,50,'APPLE','BANANA','CHERRY',40,50]
l1.append(100)
l1

[10, 20, 30, 40, 50, 'APPLE', 'BANANA', 'CHERRY', 40, 50, 100]

**pop vs remove**

In [24]:
l1=[10,20,30,40,50,'APPLE','BANANA','CHERRY',40,50]
l1.pop()
l1

[10, 20, 30, 40, 50, 'APPLE', 'BANANA', 'CHERRY', 40]

In [27]:
l1=[10,20,30,40,50,'APPLE','BANANA','CHERRY',40,50]
l1.remove(40)
l1

[10, 20, 30, 50, 'APPLE', 'BANANA', 'CHERRY', 40, 50]

In [29]:
l1=[10,20,30,40,50,'APPLE','BANANA','CHERRY',40,50]
del(l1[5])
l1

[10, 20, 30, 40, 50, 'BANANA', 'CHERRY', 40, 50]

- if we want delete any element
- pop:based on index
- remove:based on value
- del is an inuilt function

In [32]:
l1=[10,20,30,40,50,'APPLE','BANANA','CHERRY',40,50]
del(l1)
l1

SyntaxError: invalid syntax. Perhaps you forgot a comma? (48835540.py, line 2)

In [33]:
l1=[10,20,30,40,50,'APPLE','BANANA','CHERRY',40,50]
del l1[5]  #del(l1[5])
l1

[10, 20, 30, 40, 50, 'BANANA', 'CHERRY', 40, 50]

**revese-reversed**
- revrse is a method
- reversed is an inbuilt fuction

In [34]:
l1=[10,20,30,40,50,'APPLE','BANANA','CHERRY',40,50]
l1.reverse()
l1

[50, 40, 'CHERRY', 'BANANA', 'APPLE', 50, 40, 30, 20, 10]

**in place**

- when we perform the operation some times the values will  not overwrite
- if we use **inplace** word or **inplace=True**
- this indicates the output will be overwrite in corresponding variable

In [40]:
l1=[10,20,30,40,50,'APPLE','BANANA','CHERRY',40,50]
reversed(l1)
print(l1)

[10, 20, 30, 40, 50, 'APPLE', 'BANANA', 'CHERRY', 40, 50]

**sort-sorted**

In [42]:
l1=[10,20,30,40,50]
l1.sort()
l1

[10, 20, 30, 40, 50]

In [43]:
l1=[10,20,30,40,50]
sorted(l1)
print(l1)

[10, 20, 30, 40, 50]

**list comperesion questions**

In [1]:
#list of student marks in python
#marks=[45,76,89,53,67,90,82,49,33,99]
#filter students who paseed(marks>=50)
marks=[45,76,89,53,67,90,82,49,33,99]
#for i in marks:
#    if i>=50:
#print(i)

[i for i in marks if i>=50]

[76, 89, 53, 67, 90, 82, 99]

In [2]:
#calcuate grades for all students
marks=[45,76,89,53,67,90,82,49,33,99]
#grades=(A:85+,B:70-84,C:50-69,F:<50)
for i in marks:
    if i>=85:
        print(f'{i}:A')
    elif i>=70:
        print(f'{i}:B')
    elif i>=50:
        print(f'{i}:c')        
    else:
        print(f'{i}:F')

45:F
76:B
89:A
53:c
67:c
90:A
82:B
49:F
33:F
99:A

In [ ]:
[f'marks={i}: A grade.' if i>=85
else f'marks={i}: B grade.' if i>=70
else f'marks={i}: C grade.' if i>=50
else f'marks={i}: F grade.'

In [3]:
#add 5 grace marks to students who failed(<50)
#for i in marks:
#    if i<50:
#        print(i+5)
[i+5 for i in marks  if i<50]

[50, 54, 38]

In [4]:
marks=[45,76,89,53,67,90,82,49,33,99]
max_value=max(marks)
for i in range(3):
    max_value=max(marks)
    print(max_value)
    marks.remove(max_value)

99
90
89

In [5]:
#average marks of the class
marks=[45,76,89,53,67,90,82,49,33,99]
avg=(45+76+89+53+67+90+82+49+33+99)/10
print(f'the averge marks of the class is:{avg}')

the averge marks of the class is:68.3

In [6]:
summ=0
marks=[45,76,89,53,67,90,82,49,33,99]
[summ:=summ+i for i in marks]
summ/len(marks)

68.3

**distance between two points**

In [14]:
#l1=[1,2],[4,5],[7,9]]
#l2=[10,20]
#find the distance between l2 with all other points from l1
# which is the maxium distance give me that
import math
l1=[10,20]
l2=[20,40]
d1=l2[0]-l1[0]  # x2-x1=20-10=10
d1_square=math.pow(d1,2)
d2=l2[1]-l1[1]  # x2-x1=20-10=10
d2_square=math.pow(d2,2)
summ=d1_square+d2_square
math.sqrt(summ)

22.360679774997898

**list comprehesion**

$case-1$:**only for loop**

In [1]:
list1=[]
for i in range(10):
    list1.append(i)
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list1=[<code should write here>]
#inside code no need of append
list1=[<output var> <forloop>]

In [2]:
list1=[i for i in range(10)]
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
input=['hyd','benguluru','pune','mumbai']
output=[]
for i in input:
    output.append(i.capitalize())
output

['Hyd', 'Benguluru', 'Pune', 'Mumbai']

In [7]:
output=[i.capitalize() for i in input]
output

['Hyd', 'Benguluru', 'Pune', 'Mumbai']

In [8]:
input=['hyd','benguluru','pune','mumbai']
output=[]
for i in input:
    output.append(i.upper())
output

['HYD', 'BENGULURU', 'PUNE', 'MUMBAI']

In [10]:
output=[i.upper() for i in input]
output

['HYD', 'BENGULURU', 'PUNE', 'MUMBAI']

In [12]:
output=[input.index(i)*10 for i in input]
output

[0, 10, 20, 30]

In [13]:
output=[input.index(i)*10 for i in input]
sum(output)

60

**for loop codition**

In [ ]:
list1=[<output var> <forloop> <if cond>]

In [14]:
even_list=[]
for i in range(1,10):
    if i%2==0:
        even_list.append(i)
even_list

[2, 4, 6, 8]

In [16]:
even_list=[i for i in range(1,10) if i%2==0]
even_list

[2, 4, 6, 8]

In [17]:
input=['hyd','beng#luru','mumbai','pu#ne']
output=[]
for i in input:
    if '#' in i:
        output.append(i)
output

['beng#luru', 'pu#ne']

In [18]:
output=[i for i in input if '#' in i]
output

['beng#luru', 'pu#ne']

In [19]:
input=['hyd','beng#luru','mumbai','pu#ne']
output=[]
for i in input:
    if '#' not in i:
        output.append(i)
output

['hyd', 'mumbai']

In [20]:
output=[i for i in input if '#' not in i]
output

['hyd', 'mumbai']

**for-if-else**

In [ ]:
list=[<output var> <if cond>else <else out> <for loop>]

In [25]:
#even number
list1=[]
for i in range(1,10):
    if i%2==0:
        list1.append(f'even:{i}')
    else:
        list1.append(f'odd:{i}')
list1

['odd:1',
 'even:2',
 'odd:3',
 'even:4',
 'odd:5',
 'even:6',
 'odd:7',
 'even:8',
 'odd:9']

In [27]:
list1=[f'even:{i}' if i%2==0 else f'odd:{i}' for i in range(1,10)]
list1

['odd:1',
 'even:2',
 'odd:3',
 'even:4',
 'odd:5',
 'even:6',
 'odd:7',
 'even:8',
 'odd:9']

**for-if-elif-else**

In [ ]:
[<if out> <ifcond> else <elifout> <elifcond> else <elseout> <forcond>]

In [30]:
l=[45,55,65,75,85,95]
for i in l:
    if i>85:
        print(f'{i}:A grade')
    elif i>65:
        print(f'{i}:B grade')
    else:
        print(f'{i}:C grade')

45:C grade
55:C grade
65:C grade
75:B grade
85:B grade
95:A grade

In [34]:
grades=[f'{i}:A grade' if i>85 else f'{i}:B grade' if i>65 else f'{i}:C grade' for i in l]
grades

['45:C grade',
 '55:C grade',
 '65:C grade',
 '75:B grade',
 '85:B grade',
 '95:A grade']